.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserve .reContainer {
    background-color: #fff;
    padding: 1.2rem;
    position: relative;
    border-radius: .5rem;

}

.rClose {
    position: absolute;
    /* right: 1.2rem; */
    top: 0;
    right: 0;
    cursor: pointer;
}

.rItem {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 1.2rem;
}



.rItemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rselectRooms {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 0.7 rem;
    color: gray;
}

.room {
    display: flex;
    flex-direction: column;
}

.rTitle {
    font-weight: 500;
}

.rDesc {
    font-weight: 300;
}

.rMax {
    font-size: 12px;
}

.rPrice {
    font-weight: 500;
}

.rButton {
    width: 100%;
    cursor: pointer;
    border: none;
    margin-top: 1.2rem;
    background-color: #0071c2;
    color: #ffff;
    font-weight: bold;
    border-radius: .2rem;
    padding: 0.8rem 1.2rem;


}